.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.card-container {
  background: white;
  border-radius: 5px;
  border: none;
  color: black;
  padding: 2rem;
  height: 20rem;
  width: 20rem;
  overflow: hidden;
  font-size: 1rem;
}

.card-container button {
  background-color: hsl(270, 25%, 80%);
  color: black;
  font-weight: 600;
  border-radius: 25px;
  padding: .5rem 1rem;
  display: block;
  width: 100%;
  margin: 1rem 0;
  transition: .25s all;
  cursor: pointer;
}
.card-container button:hover {
  background-color: hsl(270, 25%, 40%);
  color: white;
}

.card-title {
  margin-top: 0;
  font-weight: 400;
  font-size: 2rem;
}

.divider {
  margin: 1rem;
  border: 1px solid grey;
}

.star-wars.divider {
  margin: 1rem 5rem;
}

#nav li {
  display: inline-block;
  margin: 0 1rem;
}

.bg-image {
  height: 100%;
}

.overlay {
  position: relative;
  top: -80%;
}

img.avatar {
  width: 200px;
}

article {
  display: inline-block;
  width: 400px;
  border: 1px solid black;
  height: 400px;
}